<h3>You haven't submitted your email address yet.</h3>

<%= form_tag(update_user_email_path, method: "post") do %>
  <%= label_tag(:email) %>
  <%= email_field_tag(:email) %> 
  <%= submit_tag("Submit") %>
<% end %>