<div id="calendar">
  <h1>Calendar</h1>
  
  <div class="center-calendar">
      <iframe src="https://www.google.com/calendar/embed?src=i1piaprgllhi4h59bpb919fk5k%40group.calendar.google.com&ctz=America/Los_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>

  <%= render 'form' %>
</div>

    <% link = "http://weather.yahooapis.com/forecastrss?w=2490383&u=f" %>
    <% data = Nokogiri::XML(open(link))%>
    <%= raw data.xpath("//item//description")[0] %>