<div class='ui form segment'>
  <% if @post.errors.any? %>
    <div class='ui error message'>
      <% @post.errors.full_messages.each do |msg| %>
        <%= msg %><br>
      <% end %>
    </div>
  <% end %>

  <%= form_for(@post, url: create_post_path) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
  <% end %>
</div>