<div class='ui inverted menu grid' id='post-header'>
  <div class='computer tablet only row'>
    <div class='post-button'>
      <% if @current_user.try(:admin) %>
        <%= link_to('New', new_post_path, class: 'ui button') %>
      <% end %>
      <%= link_to('Index', posts_path, class: 'ui button') %>
    </div>
  </div>
</div>

<% sorted_post = @posts.sort_by {|post| post.datetime }.reverse %>
<% sorted_post.each do |post| %>
  <small><%= post.datetime.in_time_zone("Pacific Time (US & Canada)").strftime("%A, %B %d, %Y %I:%M%p") %></small><br>
  <%= link_to(post.title, post_path(post.id)) %><br><br>
<% end %>