<div class='ui segment'>
  <div id='post-header' class='ui justified header'>
    <%= link_to('New', new_post_path) %>
    <%= link_to('Index', posts_path) %>
  </div>
</div>

<% sorted_post = @posts.sort_by {|post| post.datetime }.reverse %>
<% sorted_post.each do |post| %>
  <small><%= post.datetime.in_time_zone("Pacific Time (US & Canada)").strftime("%A, %B %d, %Y %I:%M%p") %></small><br>
  <%= link_to(post.title, post_path(post.id)) %><br><br>
<% end %>