/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


#menu-expander{
  float: right;
}

ul.dropdown{
  display: none;
}

ul.dropdown.visible{
  display: block;
}

#header-pic{
  max-width: 50%;
  height: auto;
}

div#logo{
  text-align: center;
}

div.post-button{
  text-align: center;
}

.right-sidebar{
  width: 100%;
  margin-left: 0;
}
.top-blogs{
  width: 100%;
  margin-left: 0;
}

 @media all(min-width: 500px){
  .right-sidebar{
    float: right;
    width: 30%;
    text-align: center;
  }
  .top-blogs{
    float: left;
    width: 65%;
  }
}